// Serif - Argent CF
@font-face {
    font-family: 'Argent CF Bold';
    src: url('../fonts/argent-cf-bold-webfont.woff2') format('woff2'),
         url('../fonts/argent-cf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Argent CF Demi Bold';
    src: url('../fonts/argent-cf-demi-bold-webfont.woff2') format('woff2'),
         url('../fonts/argent-cf-demi-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Argent CF Light';
    src: url('../fonts/argent-cf-light-webfont.woff2') format('woff2'),
         url('../fonts/argent-cf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Argent CF';
    src: url('../fonts/argent-cf-webfont.woff2') format('woff2'),
         url('../fonts/argent-cf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



// Sans Serif - Avenir Next

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Light.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Italic.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Medium.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
