<div class="row">
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon text-center">
      <img src="img/icon-security.png" />
      <span></span>
    </div>
    <p class="caption">24/7<br />security</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon text-center">
      <img src="img/icon-guest-services.png" />
      <span></span>
    </div>
    <p class="caption">Central concierge /<br />guest service</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon text-center">
      <img src="img/icon-ayahuasca.png" />
      <span></span>
    </div>
    <p class="caption">2 Plant medicine<br />ceremonies per month</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon">
      <img src="img/icon-wifi.png" />
      <span></span>
    </div>
    <h4>7</h4>
    <p class="caption">Fast<br />WIFI</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon">
      <img src="img/icon-food.png" />
      <span></span>
    </div>
    <p class="caption">Food<br />market</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon">
      <img src="img/icon-answer-is-you.png" />
      <span></span>
    </div>
    <p class="caption">Health<br />club</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon">
      <img src="img/icon-maloca.png" />
      <span></span>
    </div>
    <p class="caption">Private<br />Maloca</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon">
      <img src="img/icon-pool.png" class="modality-icon" />
      <span></span>
    </div>
    <p class="caption">Private<br />Pool</p>
  </div>
  <div class="col-md-2 col-4">
    <div class="modality-icon">
      <img src="img/icon-meditation.png" />
      <span></span>
    </div>
    <p class="caption">Daily<br />Meditation</p>
  </div>

  <div class="col-md-2 col-4">
    <div class="modality-icon">
      <img src="img/icon-yoga.png" />
      <span></span>
    </div>
    <p class="caption">Daily<br />Yoga</p>
  </div>
  <div class="col-md-2 col-4">
    <div class="modality-icon">
      <img src="img/icon-breathwork.png" />
      <span></span>
    </div>
    <p class="caption">Daily<br />Breathwork</p>
  </div>
  <div class="col-md-2 col-4">
    <div class="modality-icon">
      <img src="img/icon-community.png" />
      <span></span>
    </div>
    <p class="caption">Spiritual<br />community</p>
  </div>
</div>
