<footer class="footer text-center bg-light-coral">
  <div class="footer__texture"></div>
  <div class="container pb-5 pt-5">
    <div class="row">
      <div class="col-6 col-md-4 mb-5">
        <h6 class="footer__heading">Main Menu</h6>
        <ul class="footer__menu">
          <li class="footer_item">
            <a href="index.html" class="footer__link">Home</a>
          </li>
          <li class="footer_item">
            <a href="index.html#about" class="footer__link">About</a>
          </li>
          <li class="footer_item">
            <a href="gallery.html" class="footer__link">Gallery</a>
          </li>
          <li class="footer_item">
            <a href="contact.html" class="footer__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 mb-5">
        <h6 class="footer__heading">Call today!</h6>
        <ul class="footer__menu">
          <li class="footer_item">
            +1 (844) 236-5674
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <form class="form footer__form">
          <h4>Make your inbox vibrate higher</h4>
          <div class="mb-3">
            <label for="footer-email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="footer-email" aria-describedby="emailHelp">
          </div>
          <button type="submit" class="btn btn-primary">Sign Up for Emails</button>
        </form>
      </div>
    </div>


    <div class="footer__bottom text-center">
      <a href="https://www.rythmia.com" class="footer__logo">
        <img src="img/logo-residences-stacked-black.png" />
      </a>
    </div>

    <div class="footer__social text-center">
      <a href="https://www.facebook.com/rythmia" target="_blank">
        <i class="lni lni-facebook"></i>
      </a>
      <a href="https://www.instagram.com/rythmia_" target="_blank">
        <i class="lni lni-instagram"></i>
      </a>
      <a href="https://www.twitter.com/rythmia" target="_blank">
        <i class="lni lni-twitter"></i>
      </a>
    </div>

    <a href="https://www.rythmia.com" class="footer__logo2">
      <img src="img/logo-footer.png" width="100" />
    </a>

    <p class="caption">
      &copy; Rythmia Life Advancement Center
    </p>

  </div>

</footer>

<!-- All JS -->
<script src="js/all.js"></script>

</body>

</html>
