<section class="bg-light-yellow p-5" id="form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 position-relative p-0">

        <h1 class="display-5 text-center">
          Reserve Your Space
        </h1>
        <p>
          Your next steps, if interested in home ownership, is to call the number below or complete the form to speak to a representative. They will help you select your lot and your choice of either a two or three bedroom home
        </p>
        <h4>
          Call +1 (844) 236-5674 or complete the form below
        </h4>
        <form class="form form--book-now">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="first-name" class="form-label">First Name<span class="text-coral">*</span></label>
                <input type="text" class="form-control" id="first-name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="last-name" class="form-label">Last Name<span class="text-coral">*</span></label>
                <input type="text" class="form-control" id="last-name">
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label for="email" class="form-label">Email address<span class="text-coral">*</span></label>
                <input type="email" class="form-control" id="email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="phone" class="form-label">Phone<span class="text-coral">*</span></label>
                <input type="number" class="form-control" id="phone">
              </div>
            </div>
            <div class="col-md-6">
              <label for="source" class="form-label">How did you hear about us?<span class="text-coral">*</span></label>
              <div class="input-group mb-3">
                <select class="form-select" id="source">
                  <option selected>Choose...</option>
                  <option value="1">Rythmia Past Guest</option>
                  <option value="1">Google</option>
                  <option value="2">Facebook</option>
                  <option value="3">Instagram</option>
                  <option value="4">YouTube</option>
                  <option value="5">Referral</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
