<section class="hero hero--home text-white">
  <div class="container p-5">
      <div class="row center-content">
        <div class="col-lg-6 col-md-12">
          <div class="rotator-wrapper">
            <h1 class="display-4">
              Live in
              <span class="rotator">
                <span>alignment</span>
                <span>community</span>
                <span>peace</span>
                <span>prosperity</span>
                <span>light</span>
              </span>
            </h1>
          </div>
          <p class="lead">
            The Residences at Rythmia is a unique spiritual community of like-minded people with merged souls.
          </p>
          <div class="row">
            <div class="col-md-6">
              <a href="#form" class="btn btn-coral btn--full mb-4">
                Reserve your space
              </a>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-coral-stroke btn--full mb-4" data-bs-toggle="modal" data-bs-target="#modal-about">
                Watch the video
              </button>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-md-12">
          <img src="img/hero-video-cover.jpg" width="100%" />
        </div>

      </div>
    </div>
  <div class="hero-divider">
    <div class="hero__texture position-absolute bottom-0 start-0"></div>
  </div>
</section>
