<section class="drawer drawer--left" id="drawer-name" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="drawer__title">
        MENU
      </div>
      <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
    </div>
    <div class="drawer__content text-center">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="index.html#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary btn-sm ms-2" href="index.html#form" role="button">Reserve Your Space</a>
        </li>
        <li class="text-center mt-3">
          <p class="caption">
            or call today!
            <br />
            +1 (844) 236-5674
          </p>
        </li>
      </ul>
      <a href="/" class="logo-link"><img src="img/logo-footer.png" class="py-3" /></a>
    </div>
  </div>
</section>


<nav class="navbar navbar-expand-md navbar-dark fixed-top px-3" id="nav">
  <a class="navbar-brand mr-auto" href="./index.html">
    <img src="../img/logo-header.png" class="navbar-brand__img" />
  </a>
  <a href="#" class="drawer-toggler d-block d-lg-none" data-drawer-trigger aria-controls="drawer-name" aria-expanded="false">
  </a>

  <div class="navbar-holder d-none d-lg-block ms-auto">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
          <a class="nav-link" href="index.html">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="gallery.html">Gallery</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
      </li>
      <li class="nav-item">
          <a class="btn btn-primary btn-sm ms-2" href="#form" role="button">Reserve Your Space</a>
      </li>
    </ul>
  </div>
</nav>
